html, body {
  margin: 0;
  overflow: hidden;
  max-height: 100%;
}

.app {
  width: 100%;
  margin: 10px;
}

.contents {
  height: 85vh;
  border: 1px solid #ddd;
}

.right {
  width: 99%;
}

.left {
  width: 99%;
}

.room-title-color {
  background-color: #2196f3 !important;
}

.room-input-message {
  width: 99% !important;
}

.chatBody {
  width: 99%;
  margin: 10px;
  border: 1px solid #ddd;
  padding-right: 30px;
  height: 70vh;
}

.sample {
  text-align: center;
}

.footer {
  width: 100%;
  border: 1px solid #ddd;
}